/*  Main Body */

	body {
		background: #323232 url('../images/art-gallery.JPG');
		background-position: 50% 0;
		background-repeat: repeat-x;
		background-attachment:fixed;
		background-size:contain;
		padding:0;
		margin:0;
	}
	
	.video-test {
		position: fixed;
		display:block;
		width: 470px;
		height: 264px;
		left:0px;
		top: 0px;
		background-image: url('../video/video-sprite.jpg');
		background-repeat: no-repeat;
		background-size: 100%;
		z-index: 9999999999;
	}
	
	.full-container {
		position: fixed;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	
	.fixed-menu {
		font-family: Verdana, Arial, sans-serif;
		position: fixed;
		left:50%;
		bottom: 50px;
		width: 500px;
		margin-left: -250px;
		background: rgba(255,255,255,0.2);
		border-radius: 4px;
		text-align: center;
		padding: 10px;
	}
	
	.viewcontainer {
		display:block;
		position: relative;
		height: 100%;
		width: 100%;
		top: 150px;
max-width:1200px;
max-height:750px;
		margin: auto;
		overflow: hidden;
		background: #323232;
		box-shadow: 0px 6px 11px 0px rgba(50, 50, 50, 0.95);
	}
	
	#horizontal-scroll-area-1 {
		width: 8400px;
		height: 750px;
		position: absolute;
	}

	.slide-container {
		display:block;
		position: absolute;
		height: 750px;
		width: 1200px;
		z-index: 1;
	}

/*  Slide One */
	#slide1 {
	left: 0;
	z-index: 100;
	}

	.slide1-image1-circle1{
	display:block;
	position:absolute;
	background: url('../images/slide1/circle1.png') no-repeat;
	background-size:contain;
	width: 600px;
	top:50%;
	height:600px;
	left:50%;
	margin-left:-300px;
	margin-top: -300px;
	}
	
	
	.slide1-image2-circle2{
	display:block;
	position:absolute;
	background: url('../images/slide1/circle2.png') no-repeat;
	background-size:contain;
	width: 600px;
	height:600px;
	top:50%;
	left:50%;
	margin-left:-300px;
	margin-top: -300px;
	}
	
	.slide1-image3-pot1{
	display:block;
	position:absolute;
	background: url('../images/slide1/circle3.png') no-repeat;
	background-size:contain;
	width:400px;
	height:400px;
	top:50%;
	left:50%;
	margin-left:-165px;
	margin-top:-180px;
	}
	.slide1-image5-ruler1{
	display:block;
	position:absolute;
	background: url('../images/slide1/ruler1.png') no-repeat;
	background-size:contain;
    width:225px;
	height:140px;
	top:50%;
	left:50%;
	margin-left:25px;
	margin-top:0px;
	}
	.slide1-image6-shoe1{
	display:block;
	position:absolute;
	background: url('../images/slide1/shoe1.png') no-repeat;
	background-size:contain;
	width:100px;
	height:100px;
	top:50%;
	left:50%;
	margin-left:-10px;
	margin-top:80px;
	}
	.slide1-image7-shoe2{
	display:block;
	position:absolute;
	background: url('../images/slide1/shoe2.png') no-repeat;
	background-size:contain;
	width:100px;
	height:100px;
	top:50%;
	left:50%;
	margin-left:-20px;
	margin-top:110px;
	}
	.slide1-image8-shoe3{
	display:block;
	position:absolute;
	background: url('../images/slide1/shoe3.png') no-repeat;
	background-size:contain;
	width:100px;
	height:100px;
	top:50%;
	left:50%;
	margin-left:-110px;
	margin-top:-65px;
	}
	.slide1-image9-shoe4{
	display:block;
	position:absolute;
	background: url('../images/slide1/shoe4.png') no-repeat;
	background-size:contain;
	width:100px;
	height:100px;
	top:50%;
	left:50%;
	margin-left:-90px;
	margin-top:-55px;
	}
	.slide1-image4-circle4{
	display:block;
	position:absolute;
	background: url('../images/slide1/circle4.png') no-repeat;
	background-size:contain;
    width:600px;
	height:600px;
	top:50%;
	left:50%;
	margin-left:-300px;
	margin-top:-300px;
	z-index:100;
	}
	
/*  Transition 1 */

#transition1 {
	display: none;
	position: absolute;
	height: 750px;
	width: 1200px;
	overflow:hidden;
	top:0px;
	left: 0px;
	z-index: 99;

	}
	
	
	.transition1-image1-rain{
	display:none;
	position:absolute;
	background: url('../images/slide3/rain.png') no-repeat;
	background-size:contain;
	width:700px;
	height:500px;
	top: 90px;
	left: 265px;
	}
	.transition1-image2-clouds{
	display:none;
	position:absolute;
	background: url('../images/slide3/cloudbar.png') no-repeat;
	background-size:contain;
	width:1200px;
	height:600px;
	top:0px;
	left: 0px;
	}
	.transition1-image3-river2{
	display:none;
	position:absolute;
	background-image: url('../images/slide3/river2.png'),url('../images/slide3/river2.png');
	background-position: center bottom, center top;
	background-repeat: no-repeat;
	width:1200px;
	height:250px;
	bottom:0px;
	left: 0px;
	z-index:99;
	}
	/* animation: river-flow 5s linear;
	animation-iteration-count: infinite;
	}
	@keyframes river-flow{
		0% {
			transform: rotate(0deg);
		}
		
		25% {
			transform: rotate(6deg);
		}
		
		50% {
			transform: rotate(0deg);
		}
		
		75% {
			transform: rotate(-4deg);
		}
		100% {
			transform: rotate(0deg);
		}
	} */
	
	.transition1-image4-women{
	display:block;
	position:absolute;
	background-image: url('../images/slide3/women.png');
	background-size:contain;
	background-repeat: no-repeat;
	width:300px;
	height:500px;
    top: 180px;
	left: 450px;
	}
	.transition1-image5-floatinghead{
	display:none;
	position:absolute;
	background: url('../images/slide3/floatinghead.png') no-repeat;
	background-size:contain;
	width:200px;
	height:100px;
	top: 75px;
	right:220px;
	}
	
.independant-floating-head{
	display:none;
	position:absolute;
	background: url('../images/slide3/floatinghead.png') no-repeat;
	background-size:contain;
	width:200px;
	height:100px;
	top: 75px;
	left: 4280px;
	z-index: 99;
}

/*  Slide Two */
	#slide2 {
	left: 5200px;
	}

	.slide2-container {
		display: none;
		position: absolute;
		height: 750px;
		width: 1200px;
		overflow:hidden;
		top:0;
		left: 1200px;
	}
	.slide2-image1-elephant1{
	display:none;
	position:absolute;
	background: url('../images/slide2/elephant1.png') no-repeat;
	background-size:contain;
	width:160px;
	height:80px;
	top:10%;
	left:0;
	}
	.slide2-image2-elephant2{
	display:none;
	position:absolute;
	background: url('../images/slide2/elephant2.png') no-repeat;
	background-size:contain;
	width:80px;
	height:40px;
	top:18%;
	left:9%;
	}
	.slide2-image3-elephant3{
	display:none;
	position:absolute;
	background: url('../images/slide2/elephant3.png') no-repeat;
	background-size:contain;
	width:160px;
	height:80px;
	top:13%;
	left:17%;
	}
	.slide2-image4-elephant4{
	display:none;
	position:absolute;
	background: url('../images/slide2/elephant4.png') no-repeat;
	background-size:contain;
	width:130px;
	height:50px;
	top:25%;
	left:14%;
	}
	.slide2-image5-ruler1{
	display:none;
	position:absolute;
	background: url('../images/slide2/rulerandtriangle.png') no-repeat;
	background-size:contain;
	width:375px;
	height:130px;
	top:23%;
	left:32%;
	}
	.slide2-image6-waves{
	display:none;
	position:absolute;
	background: url('../images/slide2/waves.png') no-repeat;
	background-size:contain;
	width:200px;
	height:160px;
	top:0%; 
    right:0%;
	}
	.slide2-image7-ruler2{
	display:none;
	position:absolute;
	background: url('../images/slide2/ruler.png') no-repeat;
	background-size:contain;
	width:130px;
	height:80px;
	top:20%; 
    right:0%;
	}
	.slide2-image8-woman{
	display:block;
	position:absolute;
	background: url('../images/slide2/woman.png') no-repeat;
	background-size:contain;
	width:400px;
	height:500px;
	top:28%; 
    right:0%;
    }
	.slide2-image9-ruler3{
	display:none;
	position:absolute;
	background: url('../images/slide2/rulerandtriangle2.png') no-repeat;
	background-size:contain;
	width:250px;
	height:200px;
	top:55%; 
    right:0%;
	}
	.slide2-image10-womenlaying{
	display:none;
	position:absolute;
	background: url('../images/slide2/womenlaying.png') no-repeat;
	background-size:contain;
	width:600px;
	height:130px;
    bottom:0px;
    right:0%;
	}
		.slide2-image11-flower1{
	display:none;
	position:absolute;
	background: url('../images/slide2/flower1.png') no-repeat;
	background-size:contain;
	width:100px;
	height:130px;
    bottom:15%;
    right:30%;
	}
	.slide2-image12-flower2{
	display:none;
	position:absolute;
	background: url('../images/slide2/flower2.png') no-repeat;
	background-size:contain;
	width:80px;
	height:110px;
    bottom:18%;
    right:23%;
	}
	.slide2-image13-fish1{
	display:none;
	position:absolute;
	background: url('../images/slide2/fish1.png') no-repeat;
	background-size:contain;
	width:60px;
	height:100px;
    bottom:18%;
    right:18%;
	}
		.slide2-image14-fish2{
	display:none;
	position:absolute;
	background: url('../images/slide2/fish2.png') no-repeat;
	background-size:contain;
	width:60px;
	height:100px;
    bottom:13%;
    right:13%;
	}
   .slide2-image15-flower3{
	display:none;
	position:absolute;
	background: url('../images/slide2/flower3.png') no-repeat;
	background-size:contain;
	width:100px;
	height:100px;
    bottom:15%;
    right:1%;
	}
	.slide2-image15-flower4{
	display:none;
	position:absolute;
	background: url('../images/slide2/flower4.png') no-repeat;
	background-size:contain;
	width:60px;
	height:100px;
    bottom:9%;
    right:6%;
	}
	.slide2-image15-flower5{
	display:none;
	position:absolute;
	background: url('../images/slide2/flower5.png') no-repeat;
	background-size:contain;
	width:60px;
	height:100px;
    bottom:2%;
    right:1%;
	}
	.slide2-image16-legsandcompase{
	display:none;
	position:absolute;
	background: url('../images/slide2/legsandcompase.png') no-repeat;
	background-size:contain;
	width:400px;
	height:300px;
    bottom:18%;
    right:30%;
	}
	.slide2-image17-bluebox{
	display:none;
	position:absolute;
	background: url('../images/slide2/watersquare.png') no-repeat;
	background-size:contain;
	width:300px;
	height:300px;
    bottom:0%;
    left:0%;
	}
	.slide2-image18-waterbowl{
	display:none;
	position:absolute;
	background: url('../images/slide2/waterbottleoutline.png') no-repeat;
	background-size:contain;
	width:300px;
	height:300px;
    bottom:8%;
    left:2%;
	}
	
/* Slide 3 */
#slide3 {
	left: 2400px;
	background: url('../images/slide3-background.png');
}	
/* Slide 4 */
#slide4 {
	left: 3600px;
	background: url('../images/slide4-background.png');
}	
/* Slide 5 */
#slide5 {
	left: 4800px;
	background: url('../images/slide5-background.png');
}	
/* Slide 6 */
#slide6 {
	left: 6000px;
	background: url('../images/slide6-background.png');
}

/*  Transition 2 */

.transition2-container{
		display:block;
		position: absolute;
		height: 750px;
		width: 1200px;
		overflow:hidden;
		top:0;
		left: 0;
	}
	.transition2-image1-background{
	display:block;
	position:absolute;
	background: url('../images/transiton2/background.jpg') no-repeat;
	background-size:contain;
	width:1200px;
	height:1000px;
	top:0%;
	left:0%;
	}
	.transition2-image2-buildings{
	display:block;
	position:absolute;
	background: url('../images/transiton2/buildings.png') no-repeat;
	background-size:contain;
	width:1200px;
	height:250px;
	top:0%;
	left:0%;
	}
	.transition2-image3-women{
	display:block;
	position:absolute;
	background: url('../images/transiton2/women.png') no-repeat;
	background-size:contain;
	width:700px;
	height:175px;
	top:50%;
	left:50%;
	margin-left:-350px;
	margin-top:-67.5px;
	z-index:99;
	}
	.transition2-image4-reflection{
	display:block;
	position:absolute;
	background: url('../images/transiton2/reflection.png') no-repeat;
	background-size:contain;
	width:600px;
	height:155px;
	top:66%;
	left:50%;
	margin-left:-60px;
	}
	.transition2-image5-whiteline{
	display:block;
	position:absolute;
	background: url('../images/transiton2/whiteline.png') no-repeat;
	background-size:contain;
	width:1200px;
	height:155px;
	top:58%;
	left:0%;
	margin-left:-60px;
	}
	.transition2-image6-pot{
	display:block;
	position:absolute;
	background: url('../images/transiton2/pot.png') no-repeat;
	background-size:contain;
	width:400px;
	height:155px;
	top:43%;
	left:8%;

	}
	
	#transition-1 {
		position: absolute;
		top: 500px;
	}
	
/*  Transition 2 */

.transition2-container{
		display:block;
		position: absolute;
		height: 750px;
		width: 1200px;
		overflow:hidden;
		top:0;
		left: 0;
	}
	.transition2-image1-background{
	display:block;
	position:absolute;
	background: url('../images/transiton2/background.jpg') no-repeat;
	background-size:contain;
	width:1200px;
	height:1000px;
	top:0%;
	left:0%;
	}
	.transition2-image2-buildings{
	display:block;
	position:absolute;
	background: url('../images/transiton2/buildings.png') no-repeat;
	background-size:contain;
	width:1200px;
	height:250px;
	top:0%;
	left:0%;
	}
	.transition2-image3-women{
	display:block;
	position:absolute;
	background: url('../images/transiton2/women.png') no-repeat;
	background-size:contain;
	width:700px;
	height:175px;
	top:50%;
	left:50%;
	margin-left:-350px;
	margin-top:-67.5px;
	z-index:100;
	}
	.transition2-image4-reflection{
	display:block;
	position:absolute;
	background: url('../images/transiton2/reflection.png') no-repeat;
	background-size:contain;
	width:600px;
	height:155px;
	top:66%;
	left:50%;
	margin-left:-60px;
	}
	.transition2-image5-whiteline{
	display:block;
	position:absolute;
	background: url('../images/transiton2/whiteline.png') no-repeat;
	background-size:contain;
	width:1200px;
	height:155px;
	top:58%;
	left:0%;
	margin-left:-60px;
	}
	.transition2-image6-pot{
	display:block;
	position:absolute;
	background: url('../images/transiton2/pot.png') no-repeat;
	background-size:contain;
	width:400px;
	height:155px;
	top:43%;
	left:8%;

	}
	
	#transition-1 {
		position: absolute;
		top: 500px;
	}	

/*  Slide Four */

	.slide4-container {
		position: absolute;
		height: 750px;
		width: 1200px;
		overflow:hidden;
		top:0;
	}
	.slide4-image1-blood1{
	display:block;
	position:absolute;
	background: url('../images/slide4/blood1.png') no-repeat;
	background-size:contain;
    height:250px;
	width:100px;
	top:23%;
	left:47%;
	}
	.slide4-image2-blood2{
	display:block;
	position:absolute;
	background: url('../images/slide4/blood2.png') no-repeat;
	background-size:contain;
    height:250px;
	width:100px;
	top:23%;
	left:60%;
	}
	.slide4-image3-foot1{
	display:block;
	position:absolute;
	background: url('../images/slide4/foot1.png') no-repeat;
	background-size:contain;
	width:240px;
	height:100px;
	top:60%;
	left:55%;
	margin-left:-120px;
	}
    .slide4-image4-foot2{
	display:block;
	position:absolute;
	background: url('../images/slide4/foot2.png') no-repeat;
	background-size:contain;
    width:200px;
	height:80px;
	top:62%;
	left:60%;
	margin-left:-120px;
	}
	.slide4-image5-leg1{
	display:block;
	position:absolute;
	background: url('../images/slide4/leg1.png') no-repeat;
	background-size:contain;
	width:467px;
	height:200px;
	top:0%;
	left:40%;
	}
	.slide4-image6-leg2{
	display:block;
	position:absolute;
	background: url('../images/slide4/leg2.png') no-repeat;
	background-size:contain;
	width:467px;
	height:200px;
	top:0%;
	left:52%;
	}
	.slide4-image7-pot{
	display:block;
	position:absolute;
	background: url('../images/slide4/pot.png') no-repeat;
	background-size:contain;
	width:500px;
	height:375px;
	top:70%;
	left:32.5%;
	margin-top:-250px;

	}
	.slide4-image8-water{
	display:block;
	position:absolute;
	background: url('../images/slide4/water.png') no-repeat;
	background-size:contain;
	width:707px;
	height:200px;
	top:75%;
	left:30%;
	}


/*  Slide Five */

	.slide5-container {
		position: absolute;
		height: 750px;
		width: 1200px;
		overflow:hidden;
		top:0;
	}
	.slide5-image1-background{
	display:block;
	position:absolute;
	background: url('../images/slide5/background.png') no-repeat;
	background-size:contain;
    height:750px;
	width:1200px;
	top:0%;
left:0%;
	}
	.slide5-image2-clouds{
	display:block;
	position:absolute;
	background: url('../images/slide5/clouds.png') no-repeat;
	background-size:contain;
    height:250px;
	width:1200px;
	top:0%;
	left:0%;

	}
	.slide5-image3-spurts{
	display:block;
	position:absolute;
	background: url('../images/slide5/spurts.png') no-repeat;
	background-size:contain;
    height:536px;
	width:120px;
	bottom:0%;
	right:3%;
	}
	.slide5-image4-pot1{
	display:block;
	position:absolute;
	background: url('../images/slide5/pot1.png') no-repeat;
	background-size:contain;
    height:195px;
	width:121px;
	top:21.9%;
	right:0px;
	}
	.slide5-image5-pot2{
	display:block;
	position:absolute;
	background: url('../images/slide5/pot2.png') no-repeat;
	background-size:contain;
    height:134px;
	width:103px;
	top:48.2%;
	right:0px;
	}

	.slide5-image6-pot3{
	display:block;
	position:absolute;
	background: url('../images/slide5/pot3.png') no-repeat;
	background-size:contain;
    height:175px;
	width:89px;
	top:65.8%;
	right:0px;
	}
	.slide5-image7-pot4{
	display:block;
	position:absolute;
	background: url('../images/slide5/pot4.png') no-repeat;
	background-size:contain;
    height:119px;
	width:70px;
	bottom:-2%;
	right:0%;
	}
	.slide5-image8-women{
	display:block;
	position:absolute;
	background: url('../images/slide5/women.png') no-repeat;
	background-size:contain;
    height:682px;
	width:440px;
	bottom:0%;
	left:2%;
	}
	.slide5-image9-square{
	display:block;
	position:absolute;
	background: url('../images/slide5/square.png') no-repeat;
	background-size:contain;
    height:527px;
	width:571px;
	bottom:0px;
	left:0px;
	}



/*  Slide six */

	.slide6-container {
		position: absolute;
		height: 750px;
		width: 1200px;
		overflow:hidden;
		background: url('../images/slide6/backgroundbig.png') no-repeat;
		background-size:contain;
		left:50%;
		margin-left:-600px;
		top:0;
	}
	.slide6-image1-background{
	display:block;
	position:absolute;

	background-size:contain;
    height:700px;
	width:700px;
	top:5%;
	left:50%;
	margin-left:-350px;
	}
	.slide6-image2-arrow{
	display:block;
	position:absolute;
	background: url('../images/slide6/arrow.png') no-repeat;
	background-size:contain;
    height:250px;
	width:50px;
	top:48%;
	left:0%;
	}
	.slide6-image3-bottombar{
	display:block;
	position:absolute;
	background: url('../images/slide6/bottombar.png') no-repeat;
	background-size:contain;
    height:55px;
	width:1200px;
	bottom:0px;
	left:0px;
    }
	.slide6-image4-man{
	display:block;
	position:absolute;
	background: url('../images/slide6/man.png') no-repeat;
	background-size:contain;
    height:250px;
	width:400px;
	top:16%;
	left:77%;
	margin-left:-200px;
	}
	.slide6-image5-water{
	display:block;
	position:absolute;
	background: url('../images/slide6/water.png') no-repeat;
	background-size:contain;
    height:500px;
	width:900px;
	bottom:0%;
	left:0%;
	margin-left:-200px;
	}