/*  Main Body */

	body {
  background: url("../images/background.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
		padding:0;
		margin:0;
	}

	.full-container {
		position: relative;
		width: 100%;
		height: 100%;
		top: 0%;
	}

	.viewcontainer {
		display:block;
		position: fixed;
		height: 750px;
		width: 1200px;
		left: 50%;
		margin-left: -600px;
		overflow: hidden
	}

/*  Slide One */

	.slide1-container {
		display:block;
		position: absolute;
		height: 750px;
		width: 1200px;
		top:0;
		left: 0;
	}

	.slide1-logo {
		display:none;
		position: absolute;
		top:10%;
		left:50%;
		margin-left:-300px;
	    font-size:0px;
		width: 600px;
		height:200px;
			background-size:contain;
		background-image: url('../images/logo.png');
		background-repeat: no-repeat;
	}

	.slide1-initialising {
	width:90px;
	height:50px;
	position: absolute;
	top: 135px;
	left: 72.3%;
	}

	.slide1-image1-circle1{
	display:block;
	position:absolute;
	background: url('../images/slide1/circle1.png') no-repeat;
	background-size:contain;
	width:600px;
	height:600px;
	top:50%;
	left:50%;
	margin-left:-300px;
	margin-top:-300px;
	}
	.slide1-image2-circle2{
	display:block;
	position:absolute;
	background: url('../images/slide1/circle2.png') no-repeat;
	background-size:contain;
width:600px;
	height:600px;
	top:50%;
	left:50%;
	margin-left:-300px;
	margin-top:-300px;
	}
	.slide1-image3-pot1{
	display:block;
	position:absolute;
	background: url('../images/slide1/circle3.png') no-repeat;
	background-size:contain;
	width:400px;
	height:400px;
	top:50%;
	left:50%;
	margin-left:-165px;
	margin-top:-180px;
	}
	.slide1-image5-ruler1{
	display:block;
	position:absolute;
	background: url('../images/slide1/ruler1.png') no-repeat;
	background-size:contain;
    width:225px;
	height:140px;
	top:50%;
	left:50%;
	margin-left:25px;
	margin-top:0px;
	}
	.slide1-image6-shoe1{
	display:block;
	position:absolute;
	background: url('../images/slide1/shoe1.png') no-repeat;
	background-size:contain;
	width:100px;
	height:100px;
	top:50%;
	left:50%;
	margin-left:-10px;
	margin-top:80px;
	}
	.slide1-image7-shoe2{
	display:block;
	position:absolute;
	background: url('../images/slide1/shoe2.png') no-repeat;
	background-size:contain;
	width:100px;
	height:100px;
	top:50%;
	left:50%;
	margin-left:-20px;
	margin-top:110px;
	}
	.slide1-image8-shoe3{
	display:block;
	position:absolute;
	background: url('../images/slide1/shoe3.png') no-repeat;
	background-size:contain;
	width:100px;
	height:100px;
	top:50%;
	left:50%;
	margin-left:-110px;
	margin-top:-65px;
	}
	.slide1-image9-shoe4{
	display:block;
	position:absolute;
	background: url('../images/slide1/shoe4.png') no-repeat;
	background-size:contain;
	width:100px;
	height:100px;
	top:50%;
	left:50%;
	margin-left:-90px;
	margin-top:-55px;
	}
	.slide1-image4-circle4{
	display:block;
	position:absolute;
	background: url('../images/slide1/circle4.png') no-repeat;
	background-size:contain;
    width:600px;
	height:600px;
	top:50%;
	left:50%;
	margin-left:-300px;
	margin-top:-300px;
	z-index:100;
	}

/*  Slide Two */

	.slide2-container {
		display: none;

		position: absolute;
		height: 750px;
		width: 1200px;
		overflow:hidden;
		top:0;
		left: 0;
	}
	.slide2-image1-elephant1{
	display:block;
	position:absolute;
	background: url('../images/slide2/elephant1.png') no-repeat;
	background-size:contain;
	width:160px;
	height:80px;
	top:10%;
	left:0;
	}
	.slide2-image2-elephant2{
	display:block;
	position:absolute;
	background: url('../images/slide2/elephant2.png') no-repeat;
	background-size:contain;
	width:80px;
	height:40px;
	top:18%;
	left:9%;
	}
	.slide2-image3-elephant3{
	display:block;
	position:absolute;
	background: url('../images/slide2/elephant3.png') no-repeat;
	background-size:contain;
	width:160px;
	height:80px;
	top:13%;
	left:17%;
	}
	.slide2-image4-elephant4{
	display:block;
	position:absolute;
	background: url('../images/slide2/elephant4.png') no-repeat;
	background-size:contain;
	width:130px;
	height:50px;
	top:25%;
	left:14%;
	}
	.slide2-image5-ruler1{
	display:block;
	position:absolute;
	background: url('../images/slide2/rulerandtriangle.png') no-repeat;
	background-size:contain;
	width:375px;
	height:130px;
	top:23%;
	left:32%;
	}
	.slide2-image6-waves{
	display:block;
	position:absolute;
	background: url('../images/slide2/waves.png') no-repeat;
	background-size:contain;
	width:200px;
	height:160px;
	top:0%; 
    right:0%;
	}
	.slide2-image7-ruler2{
	display:block;
	position:absolute;
	background: url('../images/slide2/ruler.png') no-repeat;
	background-size:contain;
	width:130px;
	height:80px;
	top:20%; 
    right:0%;
	}
	.slide2-image8-woman{
	display:block;
	position:absolute;
	background: url('../images/slide2/woman.png') no-repeat;
	background-size:contain;
	width:400px;
	height:500px;
	top:28%; 
    right:0%;
    }
	.slide2-image9-ruler3{
	display:block;
	position:absolute;
	background: url('../images/slide2/rulerandtriangle2.png') no-repeat;
	background-size:contain;
	width:250px;
	height:200px;
	top:55%; 
    right:0%;
	}
	.slide2-image10-womenlaying{
	display:block;
	position:absolute;
	background: url('../images/slide2/womenlaying.png') no-repeat;
	background-size:contain;
	width:600px;
	height:130px;
    bottom:0px;
    right:0%;
	}
		.slide2-image11-flower1{
	display:block;
	position:absolute;
	background: url('../images/slide2/flower1.png') no-repeat;
	background-size:contain;
	width:100px;
	height:130px;
    bottom:15%;
    right:30%;
	}
	.slide2-image12-flower2{
	display:block;
	position:absolute;
	background: url('../images/slide2/flower2.png') no-repeat;
	background-size:contain;
	width:80px;
	height:110px;
    bottom:18%;
    right:23%;
	}
	.slide2-image13-fish1{
	display:block;
	position:absolute;
	background: url('../images/slide2/fish1.png') no-repeat;
	background-size:contain;
	width:60px;
	height:100px;
    bottom:18%;
    right:18%;
	}
		.slide2-image14-fish2{
	display:block;
	position:absolute;
	background: url('../images/slide2/fish2.png') no-repeat;
	background-size:contain;
	width:60px;
	height:100px;
    bottom:13%;
    right:13%;
	}
   .slide2-image15-flower3{
	display:block;
	position:absolute;
	background: url('../images/slide2/flower3.png') no-repeat;
	background-size:contain;
	width:100px;
	height:100px;
    bottom:15%;
    right:1%;
	}
	.slide2-image15-flower4{
	display:block;
	position:absolute;
	background: url('../images/slide2/flower4.png') no-repeat;
	background-size:contain;
	width:60px;
	height:100px;
    bottom:9%;
    right:6%;
	}
	.slide2-image15-flower5{
	display:block;
	position:absolute;
	background: url('../images/slide2/flower5.png') no-repeat;
	background-size:contain;
	width:60px;
	height:100px;
    bottom:2%;
    right:1%;
	}
	.slide2-image16-legsandcompase{
	display:block;
	position:absolute;
	background: url('../images/slide2/legsandcompase.png') no-repeat;
	background-size:contain;
	width:400px;
	height:300px;
    bottom:18%;
    right:30%;
	}
	.slide2-image17-bluebox{
	display:block;
	position:absolute;
	background: url('../images/slide2/watersquare.png') no-repeat;
	background-size:contain;
	width:300px;
	height:300px;
    bottom:0%;
    left:0%;
	}
	.slide2-image18-waterbowl{
	display:block;
	position:absolute;
	background: url('../images/slide2/waterbottleoutline.png') no-repeat;
	background-size:contain;
	width:300px;
	height:300px;
    bottom:8%;
    left:2%;
	}

/*  Slide Three */

.slide3-container {
		display:block;
		position: absolute;
		height: 750px;
		width: 1200px;
		overflow:hidden;
		top:0;
		left: 0;
	}
	.slide3-image1-rain{
	display:block;
	position:absolute;
	background: url('../images/slide3/rain.png') no-repeat;
	background-size:contain;
	width:160px;
	height:80px;
	top:0;
	left:0;
	}
	.slide3-image2-clouds{
	display:block;
	position:absolute;
	background: url('../images/slide3/clouds.png') no-repeat;
	background-size:contain;
	width:400px;
	height:100px;
	top:0;
	left:0;
	}
	.slide3-image3-river{
	display:block;
	position:absolute;
	background: url('../images/slide3/river.png') no-repeat;
	background-size:contain;
	width:600px;
	height:300px;
	bottom:0;
	left:0;
	}
	.slide3-image4-women{
	display:block;
	position:absolute;
	background: url('../images/slide3/women.png') no-repeat;
	background-size:contain;
	width:600px;
	height:300px;
	bottom:0;
	left:0;
	}
	.slide3-image5-floatinghead{
	display:block;
	position:absolute;
	background: url('../images/slide3/floatinghead.png') no-repeat;
	background-size:contain;
	width:600px;
	height:300px;
	top:0;
	right:0;
	}
